# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

**/.idea
**/.vscode
**/.run
**/.turbo
**/.prisma
**/dist

# Compiled JavaScript files from TypeScript
apps/frontend/src/**/*.js
apps/frontend/src/**/*.js.map
packages/**/*.js
packages/**/*.js.map

out

# testing
**/coverage

# production
**/build

**/node_modules

# misc
**/.DS_Store
**/yarn-error.log*
.env
.env.wpi
.env.prod
.env.aws

.yarn/*
!.yarn/patches/
!.yarn/plugins/
!.yarn/releases/
!.yarn/sdks/
!.yarn/versions/
.yarnrc.yml
.pnp.loader.cjs
.pnp.loader.mjs

**/.prettiercache
**/.vite